body {
	background-color: #e5e5e5;
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	margin-top: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#form {
	background-color: #ffffff;
    border-radius: 2%;
}

label {
	width: 110px;
	float: left;
}

.row {
	padding: 10px;
	margin: 6px 20px 6px 20px;
}

.row:hover {
    background: #f1f7fa;
    font-weight: 700;
}

.row p {
	margin: 0 0 0 160px;
	font-size: 14px;
	color: #CD0000;
}

.row-button {
	padding: 10px;
	margin: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	height: 50px;
	width: 170px;
	font-size: 20px;
	border-width: 1px;
	background-color: #ffffff;
	border-color: #4ff74f;
	color: #4ff74f;
    border-radius: 5%;
}

.button:hover {
	background-color: #4ff74f;
	cursor: pointer;
	color: #ffffff;
}

.box {
	padding: 7px;
    width: 80%;
	margin-left: 50px;
	border: 1px solid;
}

.box:focus {
	border-color: #62c2e4;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}


.error {
	border-color: #CD0000;
}